.uncheck-box, .check-box, .circle .circle-dot .up-error .down-error {
  background-image: url('../sprites/form-elements-sprite.png');
  background-repeat: no-repeat;
}

.uncheck-box {
  background-position: -159px -240px;
  width: 160px;
  height: 159px;
}

.check-box {
  background-position: -381px -240px;
  width: 160px;
  height: 159px;
}

.circle{
  background-position: -581px -242px;
  width: 168px;
  height: 167px;
}

.circle-dot {
  background-position: -813px -242px;
  width: 166px;
  height: 166px;
}

.up-error {
  background-position: -1036px -281px;
  width: 76px;
  height: 76px;
}

.down-error {
  background-position: -1142px -280px;
  width: 78px;
  height: 77px;
}

.ti1 {
  margin-left: 20px;
  margin-top: 100px;
}
.ti2 {
  margin-left: 20px;
  margin-top: 20px;
}

.select-box  {
  margin-left: 20px;
  margin-top: 50px;
}

#op1 {
  background-color: lightgrey;
}

#op2 {
  background-color: darkgrey;
}

.check-box {
  margin-left: 20px;
  margin-top: 35px;
  /*display: inline-block;*/
}

#cb1 {
  /*display: inline-block;*/
  background-image: url('/sprites/form-elements-sprite.png');
  background-position: -158px -239px;
  width: 161px;
  height: 159px;
}

#cb2 {
  background-image: url('/sprites/form-elements-sprite.png');
  background-position: -381px -240px;
  width: 159px;
  height: 158px;
}

.radio-btn {
  margin-left: 20px;
  margin-top: 35px;
}

#rb1 {
  background-image: url('/sprites/form-elements-sprite.png');
  background-position: -582px -242px;
  width: 167px;
  height: 166px;
}

#rb2 {
  background-image: url('/sprites/form-elements-sprite.png');
  background-position: -813px -242px;
  width: 166px;
  height: 166px;
}

.submit-btn {
  margin-left: 20px;
  margin-top: 35px;
}

#sb1 {
  background-image: url('/sprites/form-elements-sprite.png');
}

#sb2 {
  background-image: url('/sprites/form-elements-sprite.png');
}
